.container {
  margin: 0;
  padding: 0;
  background-color: #008fde;
  background-image: linear-gradient(90deg, #008fde 0%, #fc00ff 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
